*{
    margin: 0;
    padding: 0;
    font-family: Times New Roman;
}
.main{
    width: 100%;
    background-image: url(pics/start.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color:black;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;

}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}
.about-section {
    margin-bottom: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
    
}
ul{
    float: left;
    display: flex;
    justify-content: center;

}
ul li{
    list-style: none;
    margin-left: 25px;
    margin-top: 27px;
    font-size: 14px;
    
}
ul li a{
    text-decoration: none;
    color:antiquewhite;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: blue;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.about-section{
    width: 1200px;
    height: auto;
    margin: auto;
    color: black;
    position: relative;

}
body {
    font-family: sans-serif;
}

.container {
    width: 500px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
}

h1 {
    text-align: center;
    color: chocolate;
}

label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    color:chocolate;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid blue;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.admin{
    width: 100%;
    background-image: url(pics/admin2.png);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.user{
    width: 100%;
    background-image: url(pics/user1.png);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
